<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "TryLuerl" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-900 text-gray-100 ">
    <header class="p-4">
      <div class="flex  items-center">
        <nav>
          <img src={~p"/images/luerl.png"} class="w-28" />
        </nav>
        <h1 class="text-3xl font-bold text-white italic">Try Luerl</h1>
      </div>
    </header>
    <%= @inner_content %>

    <footer class="bg-gray-800 p-4 mt-10 text-center text-gray-500">
      <p>&copy; 2024 Luerl. All rights reserved.</p>
    </footer>
  </body>
</html>
